body{
    margin: 0;
  }
    .header{
    background-color: red;
    display: inline-flex;
    background: fixed;
  }
  .header .logo > img{
    margin-left: 40px;
    margin-top: 10px;
  }
  .header > li{
    list-style: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline-block;
    padding: 20px;
    margin-top: 25px;
    font-size: 20px;
  }
  .header > li:hover{
    background-color: rgb(27, 67, 105);
    color: #fff;
    transition: 0.5s;
    padding: -10px;
    cursor: pointer;
    border-radius: 20px;
  }
  .popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 9999;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  height: 60vh;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 600px;
  margin: 0;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #555;
}

.close:hover {
  color: #000;
}
.popup-content > #date{
  width: 25%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-size: 17px;
}
.popup-content > input[type="text"], input[type="date"], input[type="number"] {
  display: block;
  margin-bottom: 10px;
  display: inline-flex;
}
input, select{
  padding: 10px;
  border: 1px solid #ccc;
  margin-left: 20px;
  border-radius: 5px;
  display: inline-flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
}